Utilities/YjjUtilities/Service References/StringUtilties/StringHelper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.1194792182.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.1194792182.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.1194792182.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetIntListBySplitStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="splitStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="spliter" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="isDistinct" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIntListBySplitStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIntListBySplitStrResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="StringHelperSoapHeader" type="tns:StringHelperSoapHeader" />
      <s:complexType name="StringHelperSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecretKey" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetStringListBySplitStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="splitStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="spliter" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="isDistinct" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStringListBySplitStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStringListBySplitStrResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSplitStrByRegexPatternResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourceStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patternStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isDistinct" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSplitStrByRegexPatternResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSplitStrByRegexPatternResultResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStrByStrListWithSpliter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strList" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="spliter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStrByStrListWithSpliterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStrByStrListWithSpliterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStrByIntListWithSpliter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="intList" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="spliter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStrByIntListWithSpliterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStrByIntListWithSpliterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToFullWidthStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToFullWidthStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToFullWidthStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToHalfWidthStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToHalfWidthStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToHalfWidthStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReplaceSpecialStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourceStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="specialStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReplaceSpecialStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReplaceSpecialStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEncryptStrResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encodingStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEncryptStrResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEncryptStrResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMd5SaltStrResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMd5SaltStrResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMd5SaltStrResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsNumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsMaximumLengthNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsMaximumLengthNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsMaximumLengthNumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsMinimumLengthNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsMinimumLengthNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsMinimumLengthNumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsBetweenLengthNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="min" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="max" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsBetweenLengthNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsBetweenLengthNumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPositiveRealNumWithTwoDecimalPlaces">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPositiveRealNumWithTwoDecimalPlacesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPositiveRealNumWithTwoDecimalPlacesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPositiveRealNumWithZeroToThreeDecimalPlaces">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPositiveRealNumWithZeroToThreeDecimalPlacesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPositiveRealNumWithZeroToThreeDecimalPlacesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNonZeroPositiveInteger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNonZeroPositiveIntegerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsNonZeroPositiveIntegerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNonZeroNegativeInteger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNonZeroNegativeIntegerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsNonZeroNegativeIntegerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsSpecifiedLengthStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsSpecifiedLengthStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsSpecifiedLengthStrResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsSpecifiedLengthNumStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsSpecifiedLengthNumStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsSpecifiedLengthNumStrResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsLetter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsLetterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsLetterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCapitalLetter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCapitalLetterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCapitalLetterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsLowerCaseLetter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsLowerCaseLetterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsLowerCaseLetterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNumAndLetter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNumAndLetterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsNumAndLetterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNumAndLetterAndUnderline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNumAndLetterAndUnderlineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsNumAndLetterAndUnderlineResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserNameWithSpecifiedLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="min" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="max" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserNameWithSpecifiedLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsUserNameWithSpecifiedLengthResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsChineseCharacter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsChineseCharacterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsChineseCharacterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsIdNumStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsIdNumStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsIdNumStrResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPhoneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsTel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsTelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTelResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPostalCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPostalCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPostalCodeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsQq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsQqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsQqResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsIpAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsIpAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsIpAddressResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="options" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsMatchResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetIntListBySplitStrSoapIn">
    <wsdl:part name="parameters" element="tns:GetIntListBySplitStr" />
  </wsdl:message>
  <wsdl:message name="GetIntListBySplitStrSoapOut">
    <wsdl:part name="parameters" element="tns:GetIntListBySplitStrResponse" />
  </wsdl:message>
  <wsdl:message name="GetIntListBySplitStrStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetStringListBySplitStrSoapIn">
    <wsdl:part name="parameters" element="tns:GetStringListBySplitStr" />
  </wsdl:message>
  <wsdl:message name="GetStringListBySplitStrSoapOut">
    <wsdl:part name="parameters" element="tns:GetStringListBySplitStrResponse" />
  </wsdl:message>
  <wsdl:message name="GetStringListBySplitStrStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetSplitStrByRegexPatternResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetSplitStrByRegexPatternResult" />
  </wsdl:message>
  <wsdl:message name="GetSplitStrByRegexPatternResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetSplitStrByRegexPatternResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetSplitStrByRegexPatternResultStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetStrByStrListWithSpliterSoapIn">
    <wsdl:part name="parameters" element="tns:GetStrByStrListWithSpliter" />
  </wsdl:message>
  <wsdl:message name="GetStrByStrListWithSpliterSoapOut">
    <wsdl:part name="parameters" element="tns:GetStrByStrListWithSpliterResponse" />
  </wsdl:message>
  <wsdl:message name="GetStrByStrListWithSpliterStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetStrByIntListWithSpliterSoapIn">
    <wsdl:part name="parameters" element="tns:GetStrByIntListWithSpliter" />
  </wsdl:message>
  <wsdl:message name="GetStrByIntListWithSpliterSoapOut">
    <wsdl:part name="parameters" element="tns:GetStrByIntListWithSpliterResponse" />
  </wsdl:message>
  <wsdl:message name="GetStrByIntListWithSpliterStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ToFullWidthStrSoapIn">
    <wsdl:part name="parameters" element="tns:ToFullWidthStr" />
  </wsdl:message>
  <wsdl:message name="ToFullWidthStrSoapOut">
    <wsdl:part name="parameters" element="tns:ToFullWidthStrResponse" />
  </wsdl:message>
  <wsdl:message name="ToFullWidthStrStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ToHalfWidthStrSoapIn">
    <wsdl:part name="parameters" element="tns:ToHalfWidthStr" />
  </wsdl:message>
  <wsdl:message name="ToHalfWidthStrSoapOut">
    <wsdl:part name="parameters" element="tns:ToHalfWidthStrResponse" />
  </wsdl:message>
  <wsdl:message name="ToHalfWidthStrStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ReplaceSpecialStrSoapIn">
    <wsdl:part name="parameters" element="tns:ReplaceSpecialStr" />
  </wsdl:message>
  <wsdl:message name="ReplaceSpecialStrSoapOut">
    <wsdl:part name="parameters" element="tns:ReplaceSpecialStrResponse" />
  </wsdl:message>
  <wsdl:message name="ReplaceSpecialStrStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetEncryptStrResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetEncryptStrResult" />
  </wsdl:message>
  <wsdl:message name="GetEncryptStrResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetEncryptStrResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetEncryptStrResultStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetMd5SaltStrResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetMd5SaltStrResult" />
  </wsdl:message>
  <wsdl:message name="GetMd5SaltStrResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetMd5SaltStrResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetMd5SaltStrResultStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsNumSoapIn">
    <wsdl:part name="parameters" element="tns:IsNum" />
  </wsdl:message>
  <wsdl:message name="IsNumSoapOut">
    <wsdl:part name="parameters" element="tns:IsNumResponse" />
  </wsdl:message>
  <wsdl:message name="IsNumStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsMaximumLengthNumSoapIn">
    <wsdl:part name="parameters" element="tns:IsMaximumLengthNum" />
  </wsdl:message>
  <wsdl:message name="IsMaximumLengthNumSoapOut">
    <wsdl:part name="parameters" element="tns:IsMaximumLengthNumResponse" />
  </wsdl:message>
  <wsdl:message name="IsMaximumLengthNumStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsMinimumLengthNumSoapIn">
    <wsdl:part name="parameters" element="tns:IsMinimumLengthNum" />
  </wsdl:message>
  <wsdl:message name="IsMinimumLengthNumSoapOut">
    <wsdl:part name="parameters" element="tns:IsMinimumLengthNumResponse" />
  </wsdl:message>
  <wsdl:message name="IsMinimumLengthNumStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsBetweenLengthNumSoapIn">
    <wsdl:part name="parameters" element="tns:IsBetweenLengthNum" />
  </wsdl:message>
  <wsdl:message name="IsBetweenLengthNumSoapOut">
    <wsdl:part name="parameters" element="tns:IsBetweenLengthNumResponse" />
  </wsdl:message>
  <wsdl:message name="IsBetweenLengthNumStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsPositiveRealNumWithTwoDecimalPlacesSoapIn">
    <wsdl:part name="parameters" element="tns:IsPositiveRealNumWithTwoDecimalPlaces" />
  </wsdl:message>
  <wsdl:message name="IsPositiveRealNumWithTwoDecimalPlacesSoapOut">
    <wsdl:part name="parameters" element="tns:IsPositiveRealNumWithTwoDecimalPlacesResponse" />
  </wsdl:message>
  <wsdl:message name="IsPositiveRealNumWithTwoDecimalPlacesStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsPositiveRealNumWithZeroToThreeDecimalPlacesSoapIn">
    <wsdl:part name="parameters" element="tns:IsPositiveRealNumWithZeroToThreeDecimalPlaces" />
  </wsdl:message>
  <wsdl:message name="IsPositiveRealNumWithZeroToThreeDecimalPlacesSoapOut">
    <wsdl:part name="parameters" element="tns:IsPositiveRealNumWithZeroToThreeDecimalPlacesResponse" />
  </wsdl:message>
  <wsdl:message name="IsPositiveRealNumWithZeroToThreeDecimalPlacesStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsNonZeroPositiveIntegerSoapIn">
    <wsdl:part name="parameters" element="tns:IsNonZeroPositiveInteger" />
  </wsdl:message>
  <wsdl:message name="IsNonZeroPositiveIntegerSoapOut">
    <wsdl:part name="parameters" element="tns:IsNonZeroPositiveIntegerResponse" />
  </wsdl:message>
  <wsdl:message name="IsNonZeroPositiveIntegerStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsNonZeroNegativeIntegerSoapIn">
    <wsdl:part name="parameters" element="tns:IsNonZeroNegativeInteger" />
  </wsdl:message>
  <wsdl:message name="IsNonZeroNegativeIntegerSoapOut">
    <wsdl:part name="parameters" element="tns:IsNonZeroNegativeIntegerResponse" />
  </wsdl:message>
  <wsdl:message name="IsNonZeroNegativeIntegerStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsSpecifiedLengthStrSoapIn">
    <wsdl:part name="parameters" element="tns:IsSpecifiedLengthStr" />
  </wsdl:message>
  <wsdl:message name="IsSpecifiedLengthStrSoapOut">
    <wsdl:part name="parameters" element="tns:IsSpecifiedLengthStrResponse" />
  </wsdl:message>
  <wsdl:message name="IsSpecifiedLengthStrStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsSpecifiedLengthNumStrSoapIn">
    <wsdl:part name="parameters" element="tns:IsSpecifiedLengthNumStr" />
  </wsdl:message>
  <wsdl:message name="IsSpecifiedLengthNumStrSoapOut">
    <wsdl:part name="parameters" element="tns:IsSpecifiedLengthNumStrResponse" />
  </wsdl:message>
  <wsdl:message name="IsSpecifiedLengthNumStrStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsLetterSoapIn">
    <wsdl:part name="parameters" element="tns:IsLetter" />
  </wsdl:message>
  <wsdl:message name="IsLetterSoapOut">
    <wsdl:part name="parameters" element="tns:IsLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IsLetterStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsCapitalLetterSoapIn">
    <wsdl:part name="parameters" element="tns:IsCapitalLetter" />
  </wsdl:message>
  <wsdl:message name="IsCapitalLetterSoapOut">
    <wsdl:part name="parameters" element="tns:IsCapitalLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IsCapitalLetterStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsLowerCaseLetterSoapIn">
    <wsdl:part name="parameters" element="tns:IsLowerCaseLetter" />
  </wsdl:message>
  <wsdl:message name="IsLowerCaseLetterSoapOut">
    <wsdl:part name="parameters" element="tns:IsLowerCaseLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IsLowerCaseLetterStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsNumAndLetterSoapIn">
    <wsdl:part name="parameters" element="tns:IsNumAndLetter" />
  </wsdl:message>
  <wsdl:message name="IsNumAndLetterSoapOut">
    <wsdl:part name="parameters" element="tns:IsNumAndLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IsNumAndLetterStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsNumAndLetterAndUnderlineSoapIn">
    <wsdl:part name="parameters" element="tns:IsNumAndLetterAndUnderline" />
  </wsdl:message>
  <wsdl:message name="IsNumAndLetterAndUnderlineSoapOut">
    <wsdl:part name="parameters" element="tns:IsNumAndLetterAndUnderlineResponse" />
  </wsdl:message>
  <wsdl:message name="IsNumAndLetterAndUnderlineStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsUserNameWithSpecifiedLengthSoapIn">
    <wsdl:part name="parameters" element="tns:IsUserNameWithSpecifiedLength" />
  </wsdl:message>
  <wsdl:message name="IsUserNameWithSpecifiedLengthSoapOut">
    <wsdl:part name="parameters" element="tns:IsUserNameWithSpecifiedLengthResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserNameWithSpecifiedLengthStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsChineseCharacterSoapIn">
    <wsdl:part name="parameters" element="tns:IsChineseCharacter" />
  </wsdl:message>
  <wsdl:message name="IsChineseCharacterSoapOut">
    <wsdl:part name="parameters" element="tns:IsChineseCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="IsChineseCharacterStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsIdNumStrSoapIn">
    <wsdl:part name="parameters" element="tns:IsIdNumStr" />
  </wsdl:message>
  <wsdl:message name="IsIdNumStrSoapOut">
    <wsdl:part name="parameters" element="tns:IsIdNumStrResponse" />
  </wsdl:message>
  <wsdl:message name="IsIdNumStrStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsEmailSoapIn">
    <wsdl:part name="parameters" element="tns:IsEmail" />
  </wsdl:message>
  <wsdl:message name="IsEmailSoapOut">
    <wsdl:part name="parameters" element="tns:IsEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IsEmailStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:IsPhone" />
  </wsdl:message>
  <wsdl:message name="IsPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:IsPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IsPhoneStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsTelSoapIn">
    <wsdl:part name="parameters" element="tns:IsTel" />
  </wsdl:message>
  <wsdl:message name="IsTelSoapOut">
    <wsdl:part name="parameters" element="tns:IsTelResponse" />
  </wsdl:message>
  <wsdl:message name="IsTelStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsPostalCodeSoapIn">
    <wsdl:part name="parameters" element="tns:IsPostalCode" />
  </wsdl:message>
  <wsdl:message name="IsPostalCodeSoapOut">
    <wsdl:part name="parameters" element="tns:IsPostalCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IsPostalCodeStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsQqSoapIn">
    <wsdl:part name="parameters" element="tns:IsQq" />
  </wsdl:message>
  <wsdl:message name="IsQqSoapOut">
    <wsdl:part name="parameters" element="tns:IsQqResponse" />
  </wsdl:message>
  <wsdl:message name="IsQqStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsIpAddressSoapIn">
    <wsdl:part name="parameters" element="tns:IsIpAddress" />
  </wsdl:message>
  <wsdl:message name="IsIpAddressSoapOut">
    <wsdl:part name="parameters" element="tns:IsIpAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IsIpAddressStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:message name="IsMatchSoapIn">
    <wsdl:part name="parameters" element="tns:IsMatch" />
  </wsdl:message>
  <wsdl:message name="IsMatchSoapOut">
    <wsdl:part name="parameters" element="tns:IsMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IsMatchStringHelperSoapHeader">
    <wsdl:part name="StringHelperSoapHeader" element="tns:StringHelperSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="StringHelperSoap">
    <wsdl:operation name="GetIntListBySplitStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将含有指定字符的字符串转成以该字符分割的整型列表</wsdl:documentation>
      <wsdl:input message="tns:GetIntListBySplitStrSoapIn" />
      <wsdl:output message="tns:GetIntListBySplitStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStringListBySplitStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将含有指定字符的字符串转成以该字符分割的字符串列表</wsdl:documentation>
      <wsdl:input message="tns:GetStringListBySplitStrSoapIn" />
      <wsdl:output message="tns:GetStringListBySplitStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSplitStrByRegexPatternResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将含有指定正则表达式模式的字符串转成以该正则表达式模式匹配字符分割的字符串列表</wsdl:documentation>
      <wsdl:input message="tns:GetSplitStrByRegexPatternResultSoapIn" />
      <wsdl:output message="tns:GetSplitStrByRegexPatternResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStrByStrListWithSpliter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将字符串列表转成用指定字符分割的字符串</wsdl:documentation>
      <wsdl:input message="tns:GetStrByStrListWithSpliterSoapIn" />
      <wsdl:output message="tns:GetStrByStrListWithSpliterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStrByIntListWithSpliter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将整型列表转成用指定字符分割的字符串</wsdl:documentation>
      <wsdl:input message="tns:GetStrByIntListWithSpliterSoapIn" />
      <wsdl:output message="tns:GetStrByIntListWithSpliterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ToFullWidthStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">转全角</wsdl:documentation>
      <wsdl:input message="tns:ToFullWidthStrSoapIn" />
      <wsdl:output message="tns:ToFullWidthStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ToHalfWidthStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">转半角</wsdl:documentation>
      <wsdl:input message="tns:ToHalfWidthStrSoapIn" />
      <wsdl:output message="tns:ToHalfWidthStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReplaceSpecialStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">替换指定字符串</wsdl:documentation>
      <wsdl:input message="tns:ReplaceSpecialStrSoapIn" />
      <wsdl:output message="tns:ReplaceSpecialStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEncryptStrResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取加密后的字符串</wsdl:documentation>
      <wsdl:input message="tns:GetEncryptStrResultSoapIn" />
      <wsdl:output message="tns:GetEncryptStrResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMd5SaltStrResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取使用加盐Md5加密的字符串</wsdl:documentation>
      <wsdl:input message="tns:GetMd5SaltStrResultSoapIn" />
      <wsdl:output message="tns:GetMd5SaltStrResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否数字</wsdl:documentation>
      <wsdl:input message="tns:IsNumSoapIn" />
      <wsdl:output message="tns:IsNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsMaximumLengthNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否指定至多最大位数的数字</wsdl:documentation>
      <wsdl:input message="tns:IsMaximumLengthNumSoapIn" />
      <wsdl:output message="tns:IsMaximumLengthNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsMinimumLengthNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否指定至少最小位数的数字</wsdl:documentation>
      <wsdl:input message="tns:IsMinimumLengthNumSoapIn" />
      <wsdl:output message="tns:IsMinimumLengthNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsBetweenLengthNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否指定范围长度的数字</wsdl:documentation>
      <wsdl:input message="tns:IsBetweenLengthNumSoapIn" />
      <wsdl:output message="tns:IsBetweenLengthNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsPositiveRealNumWithTwoDecimalPlaces">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否有两位小数的正实数</wsdl:documentation>
      <wsdl:input message="tns:IsPositiveRealNumWithTwoDecimalPlacesSoapIn" />
      <wsdl:output message="tns:IsPositiveRealNumWithTwoDecimalPlacesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsPositiveRealNumWithZeroToThreeDecimalPlaces">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否有1~3位小数的正实数</wsdl:documentation>
      <wsdl:input message="tns:IsPositiveRealNumWithZeroToThreeDecimalPlacesSoapIn" />
      <wsdl:output message="tns:IsPositiveRealNumWithZeroToThreeDecimalPlacesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsNonZeroPositiveInteger">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">非零正整数</wsdl:documentation>
      <wsdl:input message="tns:IsNonZeroPositiveIntegerSoapIn" />
      <wsdl:output message="tns:IsNonZeroPositiveIntegerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsNonZeroNegativeInteger">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">非零负整数</wsdl:documentation>
      <wsdl:input message="tns:IsNonZeroNegativeIntegerSoapIn" />
      <wsdl:output message="tns:IsNonZeroNegativeIntegerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsSpecifiedLengthStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否指定长度的字符串</wsdl:documentation>
      <wsdl:input message="tns:IsSpecifiedLengthStrSoapIn" />
      <wsdl:output message="tns:IsSpecifiedLengthStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsSpecifiedLengthNumStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否指定长度的数字</wsdl:documentation>
      <wsdl:input message="tns:IsSpecifiedLengthNumStrSoapIn" />
      <wsdl:output message="tns:IsSpecifiedLengthNumStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsLetter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否英文字母</wsdl:documentation>
      <wsdl:input message="tns:IsLetterSoapIn" />
      <wsdl:output message="tns:IsLetterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCapitalLetter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否大写英文字母</wsdl:documentation>
      <wsdl:input message="tns:IsCapitalLetterSoapIn" />
      <wsdl:output message="tns:IsCapitalLetterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsLowerCaseLetter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否小写英文字母</wsdl:documentation>
      <wsdl:input message="tns:IsLowerCaseLetterSoapIn" />
      <wsdl:output message="tns:IsLowerCaseLetterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsNumAndLetter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否数字和字母</wsdl:documentation>
      <wsdl:input message="tns:IsNumAndLetterSoapIn" />
      <wsdl:output message="tns:IsNumAndLetterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsNumAndLetterAndUnderline">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否数字、字母和下划线</wsdl:documentation>
      <wsdl:input message="tns:IsNumAndLetterAndUnderlineSoapIn" />
      <wsdl:output message="tns:IsNumAndLetterAndUnderlineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUserNameWithSpecifiedLength">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否指定长度的用户名</wsdl:documentation>
      <wsdl:input message="tns:IsUserNameWithSpecifiedLengthSoapIn" />
      <wsdl:output message="tns:IsUserNameWithSpecifiedLengthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsChineseCharacter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否汉字</wsdl:documentation>
      <wsdl:input message="tns:IsChineseCharacterSoapIn" />
      <wsdl:output message="tns:IsChineseCharacterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsIdNumStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否身份证</wsdl:documentation>
      <wsdl:input message="tns:IsIdNumStrSoapIn" />
      <wsdl:output message="tns:IsIdNumStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否电子邮件</wsdl:documentation>
      <wsdl:input message="tns:IsEmailSoapIn" />
      <wsdl:output message="tns:IsEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsPhone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否手机号码</wsdl:documentation>
      <wsdl:input message="tns:IsPhoneSoapIn" />
      <wsdl:output message="tns:IsPhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsTel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否电话号码</wsdl:documentation>
      <wsdl:input message="tns:IsTelSoapIn" />
      <wsdl:output message="tns:IsTelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsPostalCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否邮政编码</wsdl:documentation>
      <wsdl:input message="tns:IsPostalCodeSoapIn" />
      <wsdl:output message="tns:IsPostalCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsQq">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否qq</wsdl:documentation>
      <wsdl:input message="tns:IsQqSoapIn" />
      <wsdl:output message="tns:IsQqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsIpAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否ip地址</wsdl:documentation>
      <wsdl:input message="tns:IsIpAddressSoapIn" />
      <wsdl:output message="tns:IsIpAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsMatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否与指定正则表达式匹配</wsdl:documentation>
      <wsdl:input message="tns:IsMatchSoapIn" />
      <wsdl:output message="tns:IsMatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StringHelperSoap" type="tns:StringHelperSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIntListBySplitStr">
      <soap:operation soapAction="http://www.1194792182.com/GetIntListBySplitStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetIntListBySplitStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStringListBySplitStr">
      <soap:operation soapAction="http://www.1194792182.com/GetStringListBySplitStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStringListBySplitStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSplitStrByRegexPatternResult">
      <soap:operation soapAction="http://www.1194792182.com/GetSplitStrByRegexPatternResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSplitStrByRegexPatternResultStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrByStrListWithSpliter">
      <soap:operation soapAction="http://www.1194792182.com/GetStrByStrListWithSpliter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStrByStrListWithSpliterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrByIntListWithSpliter">
      <soap:operation soapAction="http://www.1194792182.com/GetStrByIntListWithSpliter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStrByIntListWithSpliterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToFullWidthStr">
      <soap:operation soapAction="http://www.1194792182.com/ToFullWidthStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ToFullWidthStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToHalfWidthStr">
      <soap:operation soapAction="http://www.1194792182.com/ToHalfWidthStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ToHalfWidthStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplaceSpecialStr">
      <soap:operation soapAction="http://www.1194792182.com/ReplaceSpecialStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ReplaceSpecialStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEncryptStrResult">
      <soap:operation soapAction="http://www.1194792182.com/GetEncryptStrResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEncryptStrResultStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMd5SaltStrResult">
      <soap:operation soapAction="http://www.1194792182.com/GetMd5SaltStrResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMd5SaltStrResultStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNum">
      <soap:operation soapAction="http://www.1194792182.com/IsNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsNumStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMaximumLengthNum">
      <soap:operation soapAction="http://www.1194792182.com/IsMaximumLengthNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsMaximumLengthNumStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMinimumLengthNum">
      <soap:operation soapAction="http://www.1194792182.com/IsMinimumLengthNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsMinimumLengthNumStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBetweenLengthNum">
      <soap:operation soapAction="http://www.1194792182.com/IsBetweenLengthNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsBetweenLengthNumStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPositiveRealNumWithTwoDecimalPlaces">
      <soap:operation soapAction="http://www.1194792182.com/IsPositiveRealNumWithTwoDecimalPlaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsPositiveRealNumWithTwoDecimalPlacesStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPositiveRealNumWithZeroToThreeDecimalPlaces">
      <soap:operation soapAction="http://www.1194792182.com/IsPositiveRealNumWithZeroToThreeDecimalPlaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsPositiveRealNumWithZeroToThreeDecimalPlacesStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNonZeroPositiveInteger">
      <soap:operation soapAction="http://www.1194792182.com/IsNonZeroPositiveInteger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsNonZeroPositiveIntegerStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNonZeroNegativeInteger">
      <soap:operation soapAction="http://www.1194792182.com/IsNonZeroNegativeInteger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsNonZeroNegativeIntegerStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSpecifiedLengthStr">
      <soap:operation soapAction="http://www.1194792182.com/IsSpecifiedLengthStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsSpecifiedLengthStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSpecifiedLengthNumStr">
      <soap:operation soapAction="http://www.1194792182.com/IsSpecifiedLengthNumStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsSpecifiedLengthNumStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLetter">
      <soap:operation soapAction="http://www.1194792182.com/IsLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsLetterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCapitalLetter">
      <soap:operation soapAction="http://www.1194792182.com/IsCapitalLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsCapitalLetterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLowerCaseLetter">
      <soap:operation soapAction="http://www.1194792182.com/IsLowerCaseLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsLowerCaseLetterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNumAndLetter">
      <soap:operation soapAction="http://www.1194792182.com/IsNumAndLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsNumAndLetterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNumAndLetterAndUnderline">
      <soap:operation soapAction="http://www.1194792182.com/IsNumAndLetterAndUnderline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsNumAndLetterAndUnderlineStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserNameWithSpecifiedLength">
      <soap:operation soapAction="http://www.1194792182.com/IsUserNameWithSpecifiedLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsUserNameWithSpecifiedLengthStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsChineseCharacter">
      <soap:operation soapAction="http://www.1194792182.com/IsChineseCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsChineseCharacterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsIdNumStr">
      <soap:operation soapAction="http://www.1194792182.com/IsIdNumStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsIdNumStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmail">
      <soap:operation soapAction="http://www.1194792182.com/IsEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsEmailStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPhone">
      <soap:operation soapAction="http://www.1194792182.com/IsPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsPhoneStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTel">
      <soap:operation soapAction="http://www.1194792182.com/IsTel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsTelStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPostalCode">
      <soap:operation soapAction="http://www.1194792182.com/IsPostalCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsPostalCodeStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsQq">
      <soap:operation soapAction="http://www.1194792182.com/IsQq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsQqStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsIpAddress">
      <soap:operation soapAction="http://www.1194792182.com/IsIpAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsIpAddressStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMatch">
      <soap:operation soapAction="http://www.1194792182.com/IsMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsMatchStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StringHelperSoap12" type="tns:StringHelperSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIntListBySplitStr">
      <soap12:operation soapAction="http://www.1194792182.com/GetIntListBySplitStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetIntListBySplitStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStringListBySplitStr">
      <soap12:operation soapAction="http://www.1194792182.com/GetStringListBySplitStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStringListBySplitStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSplitStrByRegexPatternResult">
      <soap12:operation soapAction="http://www.1194792182.com/GetSplitStrByRegexPatternResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSplitStrByRegexPatternResultStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrByStrListWithSpliter">
      <soap12:operation soapAction="http://www.1194792182.com/GetStrByStrListWithSpliter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStrByStrListWithSpliterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrByIntListWithSpliter">
      <soap12:operation soapAction="http://www.1194792182.com/GetStrByIntListWithSpliter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStrByIntListWithSpliterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToFullWidthStr">
      <soap12:operation soapAction="http://www.1194792182.com/ToFullWidthStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ToFullWidthStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToHalfWidthStr">
      <soap12:operation soapAction="http://www.1194792182.com/ToHalfWidthStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ToHalfWidthStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplaceSpecialStr">
      <soap12:operation soapAction="http://www.1194792182.com/ReplaceSpecialStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReplaceSpecialStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEncryptStrResult">
      <soap12:operation soapAction="http://www.1194792182.com/GetEncryptStrResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEncryptStrResultStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMd5SaltStrResult">
      <soap12:operation soapAction="http://www.1194792182.com/GetMd5SaltStrResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMd5SaltStrResultStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNum">
      <soap12:operation soapAction="http://www.1194792182.com/IsNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsNumStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMaximumLengthNum">
      <soap12:operation soapAction="http://www.1194792182.com/IsMaximumLengthNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsMaximumLengthNumStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMinimumLengthNum">
      <soap12:operation soapAction="http://www.1194792182.com/IsMinimumLengthNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsMinimumLengthNumStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBetweenLengthNum">
      <soap12:operation soapAction="http://www.1194792182.com/IsBetweenLengthNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsBetweenLengthNumStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPositiveRealNumWithTwoDecimalPlaces">
      <soap12:operation soapAction="http://www.1194792182.com/IsPositiveRealNumWithTwoDecimalPlaces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsPositiveRealNumWithTwoDecimalPlacesStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPositiveRealNumWithZeroToThreeDecimalPlaces">
      <soap12:operation soapAction="http://www.1194792182.com/IsPositiveRealNumWithZeroToThreeDecimalPlaces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsPositiveRealNumWithZeroToThreeDecimalPlacesStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNonZeroPositiveInteger">
      <soap12:operation soapAction="http://www.1194792182.com/IsNonZeroPositiveInteger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsNonZeroPositiveIntegerStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNonZeroNegativeInteger">
      <soap12:operation soapAction="http://www.1194792182.com/IsNonZeroNegativeInteger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsNonZeroNegativeIntegerStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSpecifiedLengthStr">
      <soap12:operation soapAction="http://www.1194792182.com/IsSpecifiedLengthStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsSpecifiedLengthStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSpecifiedLengthNumStr">
      <soap12:operation soapAction="http://www.1194792182.com/IsSpecifiedLengthNumStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsSpecifiedLengthNumStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLetter">
      <soap12:operation soapAction="http://www.1194792182.com/IsLetter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsLetterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCapitalLetter">
      <soap12:operation soapAction="http://www.1194792182.com/IsCapitalLetter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsCapitalLetterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLowerCaseLetter">
      <soap12:operation soapAction="http://www.1194792182.com/IsLowerCaseLetter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsLowerCaseLetterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNumAndLetter">
      <soap12:operation soapAction="http://www.1194792182.com/IsNumAndLetter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsNumAndLetterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNumAndLetterAndUnderline">
      <soap12:operation soapAction="http://www.1194792182.com/IsNumAndLetterAndUnderline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsNumAndLetterAndUnderlineStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserNameWithSpecifiedLength">
      <soap12:operation soapAction="http://www.1194792182.com/IsUserNameWithSpecifiedLength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsUserNameWithSpecifiedLengthStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsChineseCharacter">
      <soap12:operation soapAction="http://www.1194792182.com/IsChineseCharacter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsChineseCharacterStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsIdNumStr">
      <soap12:operation soapAction="http://www.1194792182.com/IsIdNumStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsIdNumStrStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmail">
      <soap12:operation soapAction="http://www.1194792182.com/IsEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsEmailStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPhone">
      <soap12:operation soapAction="http://www.1194792182.com/IsPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsPhoneStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTel">
      <soap12:operation soapAction="http://www.1194792182.com/IsTel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsTelStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPostalCode">
      <soap12:operation soapAction="http://www.1194792182.com/IsPostalCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsPostalCodeStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsQq">
      <soap12:operation soapAction="http://www.1194792182.com/IsQq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsQqStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsIpAddress">
      <soap12:operation soapAction="http://www.1194792182.com/IsIpAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsIpAddressStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMatch">
      <soap12:operation soapAction="http://www.1194792182.com/IsMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsMatchStringHelperSoapHeader" part="StringHelperSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StringHelper">
    <wsdl:port name="StringHelperSoap" binding="tns:StringHelperSoap">
      <soap:address location="http://localhost:24294/StringHelper.asmx" />
    </wsdl:port>
    <wsdl:port name="StringHelperSoap12" binding="tns:StringHelperSoap12">
      <soap12:address location="http://localhost:24294/StringHelper.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>